.file-tile {
    display: inline-block;
    font-family: sans-serif;
    margin: 5px;
    padding: 4px;
    border-width: 5px;
    border-style: ridge;
}

.overlay {
    display: none;
}

.overlay.shown {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}
