html, body {
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

    .overlay {
    }

.file-tile {
    display: inline-block;
    font-family: sans-serif;
    margin: 5px;
    padding: 4px;
    border-width: 5px;
    border-style: ridge;
    width: 220px;
}

.file-tile span {
    padding-left: 4px;
}

.alt-preview {
    cursor: pointer;
}

.overlay {
    display: none;
}

.overlay.shown {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#overlay-iframe {
    border: none;
    height: 100vh;
    width: 100%;
}

