
html, body {
    height: 100vh;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

#file-list {
  	position: absolute;
    width: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    border-width: 1px;
    border-color: #333;
    border-style: solid;
}

.file-list-item {
    color: #333;
    padding: 1em;
    background: #EEE;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #333;
}

.file-name {
    font-family: sans-serif;
    padding-left: 4px;
}

.file-tile {
    display: inline-block;
    font-family: sans-serif;
    margin: 5px;
    padding: 4px;
    border-width: 5px;
    border-style: ridge;
    width: 220px;
}

.file-tile span {
    padding-left: 4px;
}

#file-detail {
  	position: relative;
  	margin-left: 200px;
    height: 100vh;
}

.alt-preview {
    cursor: pointer;
}

.overlay {
    display: none;
}

.overlay.shown {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#overlay-iframe {
    border: none;
    height: 100vh;
    width: 100%;
}

#close {
    position:absolute;
    top: 5px;
    left: 4px;
}
